<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Demo Packagist{% endblock %}</title>
        <meta name="description" content="{% block description %}The PHP Package Repository{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('libs/bootstrap-3.3.5/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('libs/bootstrap-3.3.5/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('libs/fontawesome/css/all.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/packagistweb/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/humane/jackedup.css') }}" />
        {% block stylesheets %}{% endblock %}

        {% block head_feeds %}
        <link rel="alternate" type="application/rss+xml" title="Newly Submitted Packages - Packagist" href="{{ url('feed_packages', {_format: 'rss'}) }}" />
        <link rel="alternate" type="application/rss+xml" title="New Releases - Packagist" href="{{ url('feed_releases', {_format: 'rss'}) }}" />
        {% endblock %}
        {% if app.user is null or app.user.username != 'root' %}
        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(42787989, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42787989" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
        {% endif %}

        {% block head_additions %}{% endblock %}
    </head>

    <body>
    <section class="wrap">
        <header class="navbar-wrapper navbar-fixed-top">
            <nav class="container">
                <div class="navbar" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">{{ 'menu.togglenav'|trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="navbar-brand"><a href="{{ path('home') }}">{{ 'brandname'|trans }}</a> <em class="hidden-sm hidden-xs">{{ 'navclaim'|trans }}</em></h1>
                    </div>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                        {%- if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('browse') }}">{{ 'menu.browse'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('submit') }}">{{ 'menu.submit'|trans }}</a>
                            </li>
                            <li class="nav-user">
                                <section>
                                    Settings
                                    <section class="nav-user-menu">
                                        {{ knp_menu_render('admin_menu', {'allow_safe_labels': true}) }}
                                    </section>
                                </section>
                            </li>
                        {%- endif %}
                        {%- if app.user %}
                            <li class="nav-user">
                                <section>
                                    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>

                                    <section class="nav-user-menu">
                                        {{ knp_menu_render('user_menu', {'allow_safe_labels': true}) }}
                                    </section>
                                </section>
                            </li>
                        {%- else %}
                            <li class="nav-user">
                                <section class="nav-user-signin">
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'menu.sign_in'|trans }}</a>
                                    <section class="signin-box">
                                        <form action="{{ path('fos_user_security_check') }}" method="POST">
                                            <div class="input-group">
                                                <input class="form-control" type="text" id="_username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            </div>
                                            <div class="input-group">
                                                <input class="form-control" type="password" id="_password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            </div>

                                            <div class="checkbox">
                                                <label for="_remember_me">
                                                    <input type="checkbox" id="_remember_me" name="_remember_me" value="on" checked="checked" />
                                                    {{- 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                                </label>
                                            </div>

                                            {%- if packagist_host and packagist_host in app.request.headers.get('Referer') %}
                                                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('Referer') }}" />
                                            {%- endif %}

                                            <div class="signin-box-buttons">
                                                <button type="submit" class="btn btn-success" id="_submit2" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                                            </div>
                                        </form>
                                    </section>
                                </section>
                            </li>
                        {%- endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {{ include("PackagistWebBundle:Web:searchSection.html.twig", {showSearchDesc: showSearchDesc|default('show')}) }}

        {% block flashMessages %}
            {%- if app.session.flashbag.peekAll()|length > 0 %}
            <section class="wrapper wrapper-white">
                <div class="container flash-container">
                {%- for type, flashMessages in app.session.flashbag.all() %}
                    {%- for flashMessage in flashMessages %}
                        {%- if 'fos_user_' in type %}
                            <div class="alert alert-{{ type|replace({'fos_user_': ''}) }}">
                                <p>{{ flashMessage|trans({}, 'FOSUserBundle') }}</p>
                            </div>
                        {%- else %}
                            <div class="alert alert-{{ type }}">
                                <p>{{ flashMessage|trans }}</p>
                            </div>
                        {%- endif %}
                    {%- endfor %}
                {%- endfor %}
                </div>
            </section>
            {%- endif %}
        {% endblock %}

        {% block content_header %}{% endblock %}

        <section class="wrapper">
            <section class="container content" role="main">
                {% block search_results %}
                    <div id="search-container" class="hidden">
                        <div class="row">
                            <div class="search-list col-md-9"></div>

                            <div class="search-facets col-md-3">
                                <div class="search-facets-active-filters"></div>
                                <div class="search-facets-type"></div>
                                <div class="search-facets-tags"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div id="pagination-container">
                                    <div class="pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
        </section>
    </section>
    <a href="https://github.com/vtsykun/packeton" class="github-corner" title="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#64CEAA; color:#fff; position: fixed; z-index: 100; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

    <footer class="wrapper-footer">
            <nav class="container">
                <div class="row">
                    <ul class="social col-xs-7 col-sm-4 col-md-2 pull-right">
                        <li><a href="http://github.com/composer/packagist" title="{{ 'menu.github'|trans }}"><span class="fab fa-github"></span></a></li>
                        <li><a href="mailto:vtsykun@okvpn.org" title="{{ 'menu.contact'|trans }}"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                    {%- if is_granted('ROLE_ADMIN') %}
                        <ul class="col-xs-4 col-md-2">
                            <li><a href="{{ path('about') }}">{{ 'menu.about_packagist'|trans }}</a></li>
                            <li><a href="{{ path('feeds') }}" rel="nofollow">{{ 'menu.rss_feeds'|trans }}</a></li>
                        </ul>

                        <div class="clearfix visible-xs-block"></div>

                        <ul class="col-xs-3 col-md-2">
                            <li><a href="{{ path('stats') }}" rel="nofollow">{{ 'menu.stats'|trans }}</a></li>
                            <li><a href="{{ path('browse') }}">{{ 'menu.browse_packages'|trans }}</a></li>
                        </ul>

                        <div class="clearfix visible-xs-block"></div>

                        <ul class="col-xs-3 col-md-2">
                            <li><a href="{{ path('api_doc') }}">{{ 'menu.api_doc'|trans }}</a></li>
                        </ul>
                    {%- endif %}

                </div>
                <div class="row">
                    <p class="toran col-xs-12"><br></p>
                </div>
            </nav>
        </footer>

        <script src="{{ asset('libs/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('libs/humane-3.2.2.min.js') }}"></script>
        <script src="{{ asset('libs/bootstrap-3.3.5/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('bundles/packagistweb/js/layout.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
